.main {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;

}
/* .main-page {
  background-image: url('./assets/imgs/enhanced_image4.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; 
} */
.main-header {
  position: relative;
  height: 100vh;
  transform-style: preserve-3d;
  /* background: linear-gradient(to right,rgba(255,255,255,0.05), rgba(0,0,0,0.1));  */
}

.parallax-bg {
  background-image: url('./assets/imgs/enhanced_image4.png');
  background-size: cover;
  background-position: center;
  position: absolute;
  height: 100%;
  width: 100%;
  transform: translateZ(-1px) scale(2);
  z-index: -1;
}

.main-body {
  position: relative;
  z-index: 2;
  background-image: url('./assets/imgs/enhanced_image4.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; 
  
}

.buffer-section {
  height: 70vh;
  background-color: rgb(243, 248, 251,0.8);
  margin-top: -70px;
}
